.eventManageButton {
	border: none;
	background: none;
	color: #0000EE ;
}

.toggled {
	background: #d3d3d3;
	border: 1px solid grey;

	border-radius: 2px;
}

#deleteSelectedConfirmBox {
	float: none !important;
	text-align: right !important;
}

.containerForEventsToDelete {
	padding: 10px;
	border: none !important;
	background: white !important;
}

.containerForEventsToDelete > ul > li {
	background-color: orange;
	font-weight: bold;
	border: 1px solid black;
	margin-top: 3px;
}

.containerForEventsToDelete > ul {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.noEvents {
	text-align: center;
}

.linkToEvent {
	color: #18acc9 !important;
}

.copy {
	padding: 2px !important;
	font-size: 10px !important;
}

.linkColumn {
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.capacityColumn {
	max-width: 60px !important;

	overflow: hidden;
	text-overflow: ellipsis;
}

.slotsColumn {
	max-width: 80px !important;

	overflow: hidden;
	text-overflow: ellipsis;
}