{% extends "layout/layout.twig" %}

{% block page_content %}

<div class="container text-center objectSpace">

    <h1>Error 404</h1>
    <p>The requested content was not found.</p>

</div>

{% endblock %}