.form-group
{
	padding: 10px;
}

label
{
	font-weight: bold;
}

.objectSpace
{
	align-items: center;
	padding: 40px;
	background-color: white;
	overflow-x: hidden;
}

.requiredSign
{
	color: red;
}

.requiredInput
{
	border-color: red;
}

.entryField1
{
	padding: 10px;
}

.entryField2
{
	padding: 10px;

}
.timeSelectionField
{
	overflow-x: auto;
}

.submitField
{
	padding: 10px;
}

.nextBackField
{
	float: right;
}

.timeSelector
{
	background-color: white;

}

.timeSelector table
{
	table-layout: fixed;
	border: none;
}

.timeSelector td
{
	cursor: pointer;
	border: 1px solid black;
}

.timeSelector th
{
	font-size: 10px;
	padding-top:0 !important;
	border: none;
}

.side-bar
{
	margin-top: 3%;
	padding: 10px;
}

#timeSelector td.selected
{
	background-color:#ccc;
}

.doNotDisplay
{
	display: none;
}
