.weeksEvent {
	margin-top: 25px;
	padding: 10px;
	width: 69%;
	height: 80%;
	border: 1px solid orange;
	background-color: #d3d3d3;
	min-width: 250px;
}
.weekEventHeader {
	font-weight: bold;
	text-align: center;
}

.eventsContainer {
	height: 85%;
	width: 95%;
	margin: 1%;
	padding: 1%;
	overflow-y: auto;
	overflow-x: hidden;
	
}

.eventBlock:hover
{
	background-color: #fed8b1;
	cursor: pointer;
}

.eventBlock {
	white-space: nowrap;
	position: relative;
	background-color: white;
	display: inline-block;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	box-shadow:2px 2px 0 orange;
	width: 200px;
	height: 200px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
	
	
}


.eventBlockName {
	font-size: 18px;
	position: relative;
	font-weight: bold;
	vertical-align: top;
	text-align: center;
}

.eventBlockCreator {
	font-weight: bolder;
	font-size: 15px;
	position: relative;
	text-align: left;
	font-style: italic;
	top: 53%;
	left: 0;
	padding-bottom: 3%;
}

.eventIcon {
	position: absolute;
	width: 95%;
	text-align: center;
	height: 50%;
	border: 1px solid black;
}

.eventIcon > img {
	width: 100%;
	height: 100%;
}

.eventBlockSpace {
	font-size: 15px;
	position: absolute;
	color: red;
	bottom: 2%;
	right: 2%;
}

@media only screen and (max-width: 768px) {
	
	.weeksEvent {
		text-align: center;
	}
	
	.weekEventHeader {
		font-size: 22px !important;
	}
	
	.eventBlock {
		height: 150px;
		width: 150px;
	}

	.eventBlockName {
		font-size: 18px;
	}

	.eventBlockCreator {
		font-size: 12px;
	}


	.eventBlockSpace {
		font-size: 12px;

	}
}